div.text-box {
    align-self: center;
    height: 60vh;
    width: 70vw;
    margin: 40px;
    box-shadow: 1px 1px 5px gray;
}

p {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    text-indent: 20px;
    font-family: sans-serif;
    font-size: 17px;
}

@media screen and (max-width: 800px) {
    p {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        font-size: 12px;
    }
    
}
