ul {
    list-style-type: none;
    height: 300px;
    text-align: left;
    font-size: 30px;
    padding-bottom: 30px;
}
div.card-box {
    display:flex;
    align-self: center;
    flex-direction: column;
    height: 600px;
}

div.card-content {
    margin: 40px;
    box-shadow: 1px 1px 5px gray;
    padding:20px;
}

/* header.card-header {

} */