main {
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: gray; */
    height : 100vh;
    width : 100%;
}

body {
    overflow: hidden
}

div.home-body {
    display:flex;
    flex-direction: column;
    /* background-color: pink; */
    margin:10px;
    height : 70%;
    width:80vw;
    align-self: center;
    box-shadow: 3px 3px 10px gray;
}
div.image-box {
    display:flex;
    margin:auto;
    margin-top: 80px;
    height : 300px;
    padding:20px;
    /* background-color: red; */
}
img {
    width : 100%;
    height : 100%;
}

div.test {
    display:row;
    display:flex;
    align-self: center;
    margin:auto;
    /* background-color: blue; */
    height : 100px;
    width : 500px;
    align-items: center;
}
button {
    border-radius: 15px;
    border : none;
    box-shadow: 1px 1px 5px gray;
    flex-grow: 1;
    margin:5px;
    height:30px;
    width:50px;
    background-color: white;
}
button:hover {
    background-color: rgb(54, 51, 51);
    color:white;
}

button:active {
    background-color: lightgray;
    color : black;
  }